body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #EDEDF1; /* slate-50 -> Light Gray */
  color: #1e293b; /* slate-800 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* Set body height to 100% of viewport height */
  overflow: hidden; /* Prevent body scrolling */
}